@import '../../styles/index';

@include ui-text-component;

.text {
  &--heading {
    padding-bottom: 50px;
  }
  &--heading#{&}--h1 {
    padding-top: 100px;
  }

  &--underline {
    padding-bottom: 16px;
    border-bottom: 1px solid gc(gL);
  }
}