.user-publish {
    &__publish-horizontal-line {
        border-top: 2px solid #2B465C;
        padding-top: 30px;
    }

    &__publish-submit-container {
        display: flex;
        width: 100%;
        margin-top: 20px;

        &--submit {
            text-align: right;
            flex-basis: 20%;
            justify-content: flex-end;
        }

        &--updated-message {
            flex-basis: 80%;
            justify-content: flex-start;
        }
    }

    &__publish-form-input {
        margin-bottom: 20px;
    }

    &__publish-form-select {
        margin-bottom: 20px;
    }

    &__publish-add-address {
        margin-top: 20px;
    }
}