@import '../../styles/index';

.circle-progress {
  position: relative;

  &__content {
    @include ui-text(link);

    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 160px;
    line-height: 1.5em;
  }
  &__circle {
    &--mask {
      @include transition;

      stroke: gc(gD);
      transform: rotate(-90deg) scaleY(-1);
      transform-origin: center;
    }
  }
}
