@import '../../styles/index';

.button {
  @include component;
  @include transition(fast);
  @include ui-text(link-bold, $line-height: false);

  height: 38px;
  padding: 0 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-text: center;
  border-radius: 0;
  border: 0;
  background: linear-gradient(92.67deg, gc(pM) 0%, gc(sM) 100%);
  text-transform: uppercase;

  &--secondary {
    background: gc(gD);
  }

  &--error {
    background: gc(error);
  }

  &--alt {
    background: gc(gM);
    color: gc(body);

    &[disabled] {
      color: gc(gL);
    }
  }

  &--cover {
    width: 100%;
  }

  &--square {
    height: 40px;
    width: 40px;
    padding: 0;
  }

  &--icon {
    background: none;
    border: 0;
  }

  &[disabled] {
    pointer-events: none;
  }
}
