@import '../../styles/index';

.popup {
  @include component;

  padding: $size---padding * 5;
  z-index: 9999;
  overflow: auto;

  &,
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__overlay {
    background: gc(bg, 0.6);

    @supports (backdrop-filter: blur(4px)) {
      background: gc(bg, 0.5);
      backdrop-filter: blur(4px);
    }
  }

  &__content {
    @include shadow(3);

    background: gc(text);
    padding: $size---padding * 1.5;
    position: relative;
    width: 100%;
    color: gc(gD);
    text-align: center;

    &-wrapper {
      align-items: center;
      justify-content: center;
      display: flex;
      min-height: 100%;
      width: fit-content;
      min-width: 512px;
      max-width: 512px;
      margin: auto;
    }
  }
}
