@import './index';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

@include reset();
@include ui-components();

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: gc(bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
