@import './index';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

@include reset();
@include ui-components();

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: gc(bg);
  color: gc(text);
}

body {
  min-height: 100vh;

  @supports (background-blend-mode: lighten) {
    background-color: gc(bg);
    background-image: url('/assets/bg-blur.jpg'), url('/assets/bg-footer.jpg');
    background-position: 50% -180px, 100% 100%;
    background-repeat: no-repeat;
    background-size: 1800px, min(1800px, 100%);
    background-blend-mode: lighten;
  }
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}
