@import '../../styles/index';

$layout---padding: $size---padding !default;
$layout--container---width: $size---container !default;

.layout {
  @include component;

  display: flex;

  &--sides {
    justify-content: space-between;
    align-items: center;
  }
  &--grid > * {
    flex: 1;
  }

  &--container {
    max-width: $layout--container---width + ($size---padding * 4);
    padding: 0 ($layout---padding * 2);
    margin: auto;
    display: block;
  }

  &--justify-end {justify-content: flex-end;}
  &--justify-start {justify-content: flex-start;}
  &--justify-center {justify-content: center;}

  &--align-end {align-items: flex-end;}
  &--align-start {align-items: flex-start;}
  &--align-center {align-items: center;}
}
