@import '../../src/styles/index';


.added-to-basket-popup {

  &__basket-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 516px;
    padding: 105px 70px 40px;
    width: 512px;
  }

  &__popup-text {
    color: #132D43;
    font-size: 18px;
    line-height: 32px;
  }

  &__popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
  }

}
