@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';
@import '../styles/variables';

.assets-list {
  margin-top: 32px;

  &__bookmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    white-space: nowrap;

    &--minus {
      font-size: 20px;
    }
  }

  &__bookmark-col {
    cursor: pointer;
    color: #67cff9;
    background: #2b465c;
    text-align: center;
    max-width: 22px;
    padding: 0 7px;
    align-self: stretch;
    transition: max-width 0.5s;
    overflow: hidden;

    &:hover {
      max-width: 100px;
    }
  }

  &__bookmark-text {
    color: #fff;
    font-size: 14px;
  }

  &__heading {
    margin-bottom: 32px;
  }
  &__batch-select-wrapper {
    display: flex;
    align-items: center;
  }
  &__batch-select {
    background: gc(gM);
    height: 34px;
    width: 132px;
    padding: 10px;
    position: relative;
  }
  &__batch-select-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gc(gM);
    height: 34px;
    padding: 8px;
    width: 132px;
    font-size: 14px;
    cursor: pointer;
  }
  &__batch-checkbox {
    /* For some reason the checkbox appears ~2px down if I don't set position to absolute. Feel free to investigate if
    you have time. */
    position: absolute;
    cursor: pointer;
  }
  &__selected-count {
    position: absolute;
    left: 32px;
    font-size: 14px;
    b {
      font-weight: bold;
    }
  }
  &__batch-close {
    position: absolute;
    left: 113px;
    top: 11px;
    cursor: pointer;
  }
  &__basket-add {
    color: gc(sM);
    cursor: pointer;
    margin-left: 16px;
  }

  &__asset-title-col {
    cursor: pointer;
    padding: 5px;
  }

  &__asset-title {
    display: flex;
    align-items: center;
  }

  &__asset-date {
    padding-left: 1%;
  }

  &__asset {
    position: relative;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 0 0 20px;
    border: 2px solid gc(gM);

    &--asset-row-header {
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    &--indexer {
      padding: 0;
      border: none;
      width: 50%;
    }
  }

  &__subscription-col {
    display: flex;
    flex-direction: column;
  }

  &__subscription-row {
    display: flex;
    align-items: stretch;
  }

  &__info {
    cursor: pointer;
    padding: 0 20px;
    min-width: 10%;

    &--indexer {
      padding: 0;
      border: none;
      width: 50%;
    }

    &--info-header {
      display: flex;
    }

    &--subscription {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }

    &--icon {
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  &__subscription-border {
    border-left: 2px solid #2b465c;
    padding-right: 20px;
  }

  &__category-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    margin-right: 22px;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }

  &__icon {
    margin-left: 10px;

    &--clickable {
      cursor: pointer;
    }

    &--network {
      padding-right: 10px;
    }
  }

  &__dash {
    margin: 5px;
  }

  &__badge {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    gap: 8px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;

    &-logo {
      width: 16px;
      height: 10px;
    }

    &--community {
      background: $community-subscription-gradient;
    }

    &--analyst {
      background: $analyst-subscription-gradient;
    }

    &--enterprise {
      background: $enterprise-subscription-gradient;
    }

    &--inactive {
      background: #2b465c;
      color: #8aaabe;

      .assets-list__badge-logo {
        path {
          fill: #8aaabe;
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;

    tr,
    td,
    th {
      height: 100%;
    }

    th {
      text-align: left;
      padding: 0 10px 20px 20px;

      &.indexer {
        width: 50%;
      }
    }

    td {
      border-width: 2px 0;
      border-color: gc(gM);
      border-style: solid;
      vertical-align: middle;
      padding: 5px 15px;

      &:first-child {
        border-left-width: 2px;
      }

      &:last-child {
        border-right-width: 2px;
      }
    }
  }
}
