@import '../../src/styles/index';

.checkout {
  margin-top: 32px;

  &__heading {
    margin-bottom: 32px;
  }
  &__batch-select-wrapper {
    display: flex;
    align-items: center;
  }
  &__batch-select {
    background: gc(gM);
    height: 34px;
    width: 132px;
    padding: 10px;
    position: relative;
  }
  &__batch-select-inactive {
    display: flex;
    align-items: center;
    background: gc(gM);
    height: 34px;
    padding: 8px;
    width: 95px;
    font-size: 14px;
    cursor: pointer;
  }
  &__batch-checkbox {
    /* For some reason the checkbox appears ~2px down if I don't set position to absolute. Feel free to investigate if
    you have time. */
    position: absolute;
    cursor: pointer;
  }
  &__selected-count {
    position: absolute;
    left: 32px;
    font-size: 14px;
    b {
      font-weight: bold;
    }
  }
  &__batch-close {
    position: absolute;
    left: 113px;
    top: 5px;
    cursor: pointer;
  }
  &__basket-add {
    color: gc(sM);
    cursor: pointer;
    margin-left: 16px;
  }

  &__purchases-wrapper {
    display: block;
  }
  &__table-wrapper {
    width: 769px;
  }
  &__order-summary {
    margin: 0 70px;
    width: 485px;
  }
  &__items-selected {
    color: gc(sM)
  }
  &__total-price {
    display: flex;
    align-items: center;
    font-size: 26px;
  }

  &__asset {
    height: 74px;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 20px;
    border: 2px solid gc(gM);

    &-date {
      margin: 0px 20px;
      padding-top: 8px;
    }
  }
  &__info {
    margin-right: 48px;

    &-icon {
      margin-right: 8px;
    }
  }
  &__checkbox {
    margin-right: 22px;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }
}
