@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.details {
  &__content {
    flex: 1 1 60%;
  }

  &__side-panel {
    flex: 1 1;
  }

  &__side-box {
    background: gc(gM);
    padding: 24px;
    margin-top: 63px;
  }

  &__side-box-icon {
    width: unset !important;
    height: unset !important;
    margin-right: 15px;
    align-items: flex-start;
  }

  &__attr {
    display: flex;
    align-self: flex-start;
    margin-right: 10px;

    &--value {
      justify-content: flex-end;
      flex: 1 1 auto;
      margin-right: 0;
    }
  }

  &__loadspinner {
    display: flex;
    align-items: center;

    &--text {
      position: relative;
      // right:-30px;
      z-index: 2;
    }

    &--spinner {
      z-index: 1;
      @include keyframes(rotate) {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @include animate(rotate, 1.5s, linear, infinite);
    }
  }

  &__provenance-title {
    margin-bottom: 30px;
  }

  &__provenance-entry {
    border: 1px solid gc(gM);
    flex-flow: row;
    padding: 10px;

    &-userAddress {
      margin-bottom: 16px;
      border: 4px solid gc(gM);
      border-color: #67cff9;
      flex-flow: row;
      padding: 10px;
    }

    &-data {
      flex-basis: 33%;
      text-transform: capitalize;

      &-ellipse {
        margin-right: 15px;
        align-self: center;
      }

      &--left {
        align-items: flex-start;
      }

      &--right {
        justify-content: flex-end;
      }
    }
  }

  &__spinner-container {
    display: flex;
    justify-content: space-around;
  }

  &__basket-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 516px;
    padding: 105px 70px 40px;
    width: 512px;
  }

  &__popup-text {
    color: #132d43;
    font-size: 18px;
    line-height: 32px;
  }

  &__popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
  }

  &__already-purchased {
    color: #67cff9;

    &-link {
      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
          color: #67cff9;
        }
      }
    }
  }

  &__divider-line {
    border-bottom: 1px solid #2b465c;

    &--s {
      margin: 12px 0 24px 0;
    }

    &--l {
      margin: 0 0 24px 0;
    }

    &--fade {
      border-bottom: none;
      background: linear-gradient(90deg, #67cff9 10.16%, rgba(0, 0, 0, 0) 74.1%);
      height: 1px;
      min-height: 0;
      margin: 24px 0;
    }
  }

  &__asset-attributes {
    padding: 0 15px;
  }

  &__fields {
    flex: 1 1 auto;
  }

  &__field-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__field-column {
    display: flex;
    flex-direction: column;
  }

  &__field-icon {
    vertical-align: middle;
    margin-right: 5px;

    &--dataset {
      width: 17px;
    }

    &--network {
      width: 25px;
    }
  }

  &__field-text {
    vertical-align: middle;
  }

  &__dash {
    &::before {
      content: '\2013';
      margin: 0 5px;
    }
  }
}
