@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

.user-profile {
    &__profile-horizontal-line {
        border-top: 2px solid #2B465C;
        padding-top: 30px;
    }

    &__profile-submit-container {
        display: flex;
        width: 100%;
        margin-top: 20px;

        &--submit {
            text-align: right;
            flex-basis: 20%;
            justify-content: flex-end;
        }

        &--updated-message {
            flex-basis: 80%;
            justify-content: flex-start;
        }
    }

    &__profile-form-input {
        margin-bottom: 20px;
    }

    &__profile-addresses {
        margin-top: 40px;
    }

    &__profile-add-address {
        margin-top: 20px;
    }

    &__profile-current-addresses-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__profile-current-address {
        border: 2px solid gc(gM);
        flex-basis: 40%;
        text-align: center;
        margin: 30px 50px 0 0;
        padding: 20px;
    }
}