@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

$assets-query__form---size: 64px !default;

.assets-query {
  $fz: $assets-query__form---size;

  &__input {
    background: gc(gM);
    border: 0;
    flex: 1;
    height: $fz;
    padding: 0 20px;
    color: gc(text);

    @include placeholder {
      color: gc(gL);
    }
  }
  &__search-icon {
    background: gc(gM);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 42px;
  }
  &__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__clear-div {
    cursor: pointer;
    width: 58.07px;
    height: 22.07px;
    &--clear-button {
      font-size: 12.8725px;
      line-height: 15px;
      margin-right: 5px;
      color: gc(gL);
    }

  }
}
