@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

.account-modules {
  margin-top: 32px;

  &__bookmark {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;

    &--cover {
      position: absolute;
      right: 0;
    }

    &--plus {
      z-index: 1;
      right: 1px;

      &:hover {
        color: gc(pL);
      }
    }

    &--minus {
      z-index: 1;
      right: 2px;
      top: -4px;
      font-size: 20px;
      color: #132d43;

      &:hover {
        color: gc(pL);
      }
    }
  }

  &__card {
    height: 250px;
    max-width: 396px;
    justify-self: center;
    width: 100%;
    left: 419px;
    margin: 0;
    text-align: center;
    border-radius: 0px;
    padding: 32px 8px 32px 8px;
    background: linear-gradient(180deg, #7834f9 21.35%, #60ccf0 100%);
    display: flex;
    flex-direction: column;
    height: 100%;

    &--subscription {
      background: #13122b;
    }
  }

  &__card-icon {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__asset-title {
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
  }

  &__asset-date {
    padding-left: 1%;
  }

  &__asset {
    height: 74px;
    position: relative;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 20px;
    border: 2px solid gc(gM);

    &--asset-row-header {
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    &--indexer {
      padding: 0;
      border: none;
      width: 50%;
      display: flex;
      align-items: center;
      justify-items: start;
    }
  }

  &__info {
    margin-right: 10px;
    cursor: pointer;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--info-header {
      display: flex;
    }

    &--price {
      width: 80px;
      margin-right: 20px;
    }

    &--icon {
      margin-right: 8px;
    }
  }

  &__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-width: calc(396px * 2);
  }

  &__summary-number {
    font-family: Titillium Web;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -0.03em;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__summary-subscription {
    font-family: Titillium Web;
    line-height: 90px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__card-name {
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: #ffffff;
  }

  &__subscription-badge {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 4px 16px;

    svg {
      width: auto;
      height: 18px;
    }
  }
}
