$palette: (
  bg:       #132D43,
  text:     #FFFFFF,

  pL:       #A97DFB,
  pM:       #7834F9,
  PD:       #430DAA,

  sL:       #D0F2FF,
  sM:       #67CFF9,

  gL:       #8AAABE,
  gM:       #132D43,
  gD:       #13122B,

  error:    #FE3D3D,
  success:  #3CD953,
) !default;
