$palette: (
  bg:       #132D43,
  text:     #FEFEFE,

  pL:       #A97DFB,
  pM:       #7834F9,
  PD:       #430DAA,

  sL:       #D0F2FF,
  sM:       #67CFF9,

  gL:       #8AAABE,
  gM:       #2B465C,
  gD:       #132D43,
  gVD:      #13122B,

  shadow:   #000000,

  error:    #FC6471,
  success:  #55D6BE,
) !default;
