@import '../../styles/index';

.dropdown {
  &__wrapper {
    position: relative;
  }

  &__toggle {
    align-items: center;
    background: gc(gM);
    border-left: 1px solid gc(gL);
    color: gc(text);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 100%;
    justify-content: space-around;
    width: 160px;
    &--selected {
      background-color: gc(sL);
      color: gc(gD);
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    z-index: 2;
  }

  &__image-wrapper {
    transform: rotate(180deg);
    margin-top: 5px;
    &--clicked {
      transform: rotate(0deg);
      margin-bottom: 5px;
    }
  }
}
