@import '../../styles/index';


.banner {

  &__bannerContainer {
    padding: 100px 40px 0 0;
    text-align: center;
  }

  &__bannerText {
    text-transform: capitalize;
    &--padding {
      padding-top: 40px;
    }
  }
  
}
