@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

.not-found {
    &__container-page {
        text-align: center;
        padding-top: 5%;
        
        span {
            font-size: 180px;
        }
    }

    &__description {
        margin-top: 30px;
        color: #67CFF9;
        font-size: 24px;

        &-link {
            a {
                font-size: 24px;
                color: #fff;

                &:hover {
                    text-decoration: underline;
                    color: #67CFF9;
                }
            }
        }
    }
}