@import '../../styles/index';

@include ui-text-component;

.text {
  &--heading {
    padding-bottom: 50px;
  }
  &--heading#{&}--h1 {
    padding-top: 100px;
  }

  &--underline {
    padding-bottom: 16px;
    border-bottom: 1px solid gc(gL);
  }

  &--alert {
    @include ui-text(h3);

    border: 2px solid gc(gS);
    color: gc(gL);
    min-height: 72px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--p {
    & + & {
      margin-top: $size---padding;
    }
  }
}
