@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

.cli {
  @include component;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__columnleft {
    width: 20%;
  }

  &__columnright {
    width: 85%;
  }
}


