$default-gradient: linear-gradient(91.25deg, #7834f9 0%, #67cff9 100%);
$community-subscription-gradient: linear-gradient(91.25deg, #3448f9 0%, #41e0f5 100%);
$analyst-subscription-gradient: linear-gradient(104.3deg, #55d6be 6.55%, #448cca 94.47%);
$enterprise-subscription-gradient: linear-gradient(91.25deg, #3834f9 0%, #a97dfb 100%);
