@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';
@import '../../styles/variables';

.pricing {
  &__pricing {
    width: 1322px;
    margin: 100px auto;
  }

  &__header-0 {
    background: $community-subscription-gradient;
    height: 222px;
  }

  &__header-1 {
    background: $analyst-subscription-gradient;
    height: 222px;
  }

  &__header-2 {
    background: $enterprise-subscription-gradient;
    height: 222px;
  }

  &__price_card {
    width: 396px;
    background: rgb(81, 98, 146);
    display: inline-table;
    top: 0;
  }

  &__price_card:not(:last-child) {
    margin-right: 16px;
  }

  &__price_col {
    font-family: 'Titillium Web';
    letter-spacing: -0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
  }

  &__price_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 10px;
  }

  &__price {
    font-size: 60px;
    font-weight: 300;
  }

  &__symbol {
    font-size: 32px;
  }

  &__name {
    width: 100%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    display: block;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding-top: 32px;
  }

  &__features {
    background: rgba(8, 2, 40, 0.6);
    backdrop-filter: blur(30px);
    padding: 24px 24px 40px;
  }

  &__features-list {
    list-style: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0;

    li {
      line-height: 32px;
      display: flex;
      list-style-type: none;
      align-items: baseline;
      column-gap: 24px;
      margin-bottom: 16px;
    }
  }

  &__feat-detail {
    line-height: 24px;
    font-family: 'Titillium Web';
  }

  &__common-feat {
    font-family: 'Titillium Web';
    font-size: 20px;
    line-height: 28px;
    margin: 0 36px;
    text-align: center;
  }

  &__add-to-cart, &__coming-soon {
    font-family: 'Titillium Web';
    background: linear-gradient(92.67deg, #7834f9 0%, #67cff9 100%);
    border: 0;
    width: 194px;
    height: 48px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    left: 0px;
    right: 0px;
    margin: auto;
  }

  &__tick {
    width: 18px;
    height: 14px;
  }

  &__coming-soon {
    background: linear-gradient(92.67deg, #535058 0%, #adb6ba 100%);
  }
}
